<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <title>Page unavailable</title>
</head>
<body>
    <h1>Page unavailable</h1>

    <p>Sorry, but the requested page is unavailable due to a server hiccup. </p>
    <p> Django docs suggested there is very little I can do in an automated way to help. </p>
    <p> Hopefully this error set off all the alarms and our team of monkeys is working on it. </p>
    <p> But if you see this repeatedly over an unreasonable span of time let somebody know. </p>
</body>
</html>
